table {
	font-size: 120%;
    border-collapse: collapse;
    width: fit-content;
    background: "./favicon.ico";
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #ffffff}

th {
    background: linear-gradient(to top, #777777  22%, #999999 119%);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 80%;
}
 .circluar-image {
        width: 50px;
        height: 50px;
        border: 2px solid #fff;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    #narrow {
        float: right;
        width:60%;
        padding: 1%;
      }
      #wide {
        float: left;
        width: 40%;
        padding: 1%;
        padding-left: 2%
      }