<div style="padding-right: 2%; padding-top: 2%">
      <div  style="padding: 2% 2%;border-radius: 10px">
             <b style="font-size:larger" (click)="getNames()">Projects</b>
            <select [(ngModel)]="selected" (ngModelChange)="onAssigneeChange($event)" name="Assignee">
               <option *ngFor="let c of temp_data" [ngValue]="c"> {{c}} </option> 
            </select>
            <div style="display: block; padding-top: 2%">
                  <div class="col-md-8">
                        <canvas baseChart  [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                              [colors]="backgroundColor1"
                              [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                  </div>
                  <div class="col-md-4">
                        <canvas baseChart  [datasets]="datasets_doughnut" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
                              [colors] = 'backgroundColor2'
                              (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                  </div>
            </div>
      </div>
</div>

<div class="col-lg-12" style="padding-right: 2%;">
      <div class="jumbotron" style="padding: 2% 2%;border-radius: 10px">
            <div id="proj_con" class="tab-pane fade in active">
                  <div style="font-size: 70%" *ngIf="fromTeam">
                        <table border=1>
                              <tr style="font-family: monospace">
                                    <th style="width: 8%">Intake</th>
                                    <th style="width: 69%">Summary</th>
                                    <th style="width: 8%">Status</th>
                                    <th style="width: 15%">Assignee</th>
                                    <!--<th>Created</th>
                        <th>Updated</th>-->

                              </tr>
                              <tr *ngFor="let d of data | async">
                                    <td>
                                          <a style="cursor: pointer;font-size: 90%;font-weight: bold" target="tab-pane" href="https://tkts.sys.comcast.net/browse/{{ d.key }}">
                            {{ d.key }}
                            </a>
                                    </td>
                                    <td>
                                          {{ d.summary }}
                                          <br>
                                          <small>
                             {{ d.description }}
                            </small>
                            <br>
                                         <small style="color: darkblue; float: right">Last updated: {{ d.updated }}</small> 
                                    </td>
                                    <td>
                                          {{ d.status }}
                                    </td>
                                    <td style="font-family: cursive">
                                          {{ d.assignee }}
                                    </td>
                                    <!--<td>
                            <time>
                            {{ d.created }}
                            </time>
                        </td>
                        <td>
                            {{ d.updated }}
                        </td>-->

                              </tr>
                        </table>
                  </div>
                  <div style="padding-top: 2%; font-size: 70%" *ngIf="fromPerson">
                        <table border=1>
                              <tr style="font-family: monospace">
                                    <th style="width: 8%">Intake</th>
                                    <th style="width: 69%">Summary</th>
                                    <th style="width: 8%">Status</th>
                                    <th style="width: 15%">Assignee</th>
                                    <!--<th>Created</th>
                        <th>Updated</th>-->

                              </tr>
                              <tr *ngFor="let d of dataFromPerson | async">
                                    <td>
                                          <a style="cursor: pointer;font-size: 90%;font-weight: bold" target="tab-pane" href="https://tkts.sys.comcast.net/browse/{{ d.key }}">
                            {{ d.key }}
                            </a>
                                    </td>
                                    <td>
                                          {{ d.summary }}
                                          <br>
                                          <small>
                             {{ d.description }}
                            </small>
                                    </td>
                                    <td style="font-style: italic">
                                          {{ d.status }}
                                    </td>
                                    <td style="font-family: cursive">
                                          {{ d.assignee }}
                                    </td>
                                    <!--<td>
                            <time>
                            {{ d.created }}
                            </time>
                        </td>
                        <td>
                            {{ d.updated }}
                        </td>-->

                              </tr>
                        </table>
                  </div>
            </div>



      </div>
</div>