<div class="col-lg-12" style="padding-right: 2%; padding-top: 2%">
  <div class="jumbotron" style="padding: 2% 2%; font-size: 140%; border-radius: 10px">
    <div id="parent" style="display: flex">
  <div onclick="window.open('https://www.comcastnow.com/profile/33527', '_blank')" style="flex: 1;">
        <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=CABLE_ASAVEL00);background-size:150px 150px;background-repeat:no-repeat;cursor: pointer "></div>
      </div>
      <div style="width:80%">
      
    <address>
      
      <p>
      <b>Alexei Saveliev</b><br />
      <font size="3"> 
      Sr Manager, Quality Assurance<br /> 1002 Cornerstone Blvd<br /> Downingtown, Pennsylvania
      19335
      <br />
      Phone: <a href="tel:484-364-4067">(484)364-4067</a>
      <br/>
      </font>
      
      <font size="3">
        Mail to: <a href="mailto:Alexei_Saveliev2@cable.comcast.com">Alexei</a>.<br> Mail to: <a href="mailto:TQM_Video_Platforms@cable.comcast.com">Team</a>.<br>
      </font>
      <font size="4">
        <a href="mailto:&#10;vector_securityscan@comcast.com?Subject=Suggestion%20for%20Vector%20Portal"><img src="./assets/images/SuggestionBox.png" height="120px"> </a>
      </font>
      </p>

    </address>
    <address>
    
    </address>
  </div>
</div>