<div class="col-lg-12" style="padding-right: 2%; padding-top: 2%">
<div class="jumbotron" style="padding: 2% 2%; font-size: 140%; border-radius: 10px" >
  <h4><b>Contact Information</b></h4> 

<address>
    <b>Alexei Saveliev</b><br />
    Sr Manager, Quality Assurance<br />
    1002 Cornerstone Blvd<br />
    Downingtown, Pennsylvania 19335<br />
    <abbr title="Phone">Phone:</abbr>
    (484)364-4067<br/>
    <font size="2">
        Mail to <a href="mailto:Alexei_Saveliev2@cable.comcast.com">Alexei</a>.<br>
        Mail to <a href="mailto:TQM_Video_Platforms@cable.comcast.com">Team</a>.<br>
        </font>

</address>



</div>
</div>
    
  