<div class="col-lg-12" style="padding-right: 2%; padding-top: 2%">
    <div class="jumbotron" style="padding: 2% 2%; border-radius: 10px">
        <!--<h2>Charter</h2>-->
        <!--<ul class="nav nav-tabs" style="font-size: 150%">
            <li class="active"><a data-toggle="tab" href="#charter_home">Charter</a></li>
            <li><a data-toggle="tab" href="#qa_int">QA/Integration Performed</a></li>
            <li><a data-toggle="tab" href="#test_env">Test Environments</a></li>
        </ul>-->

        <div class="tab-content">
            <div id="charter_home" class="tab-pane fade in active">
                <h3>Charter</h3>
                <div class="row" style="font-size:150%">
                <div class="col-md-12">
                    <p>
                        The <b>VECTOR</b> (Video Engineering Certification Tooling Operations &amp; Reporting) team provides
                        engineering, quality assurance, production support, field qualification of new products in support
                        of core video head-end controllers, video head-end infrastructure, linear edge devices, video encoders,
                        hospitality solutions, video quality/monitoring, BAU/lights on and early integration vendor management
                        support (VIOT).
                    </p>
                    <div class="col-md-5">
                        <ul>
                            <li>Arris platform</li>
                            <li>Cisco Platform</li>
                            <li>Linear eQAMs</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>Video processors (encoders/receivers, ad splicers)</li>
                            <li>Video quality and monitoring services</li>
                            <li>Hospitality solutions</li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
            <div id="qa_int" class="tab-pane fade in active" style="padding-top: 2%">
                <h3>QA/Integration Performed</h3>
                <div class="row" style="font-size:150%">
                    <div class="col-md-5">

                        <ul>
                            <li>Installation/upgrade/rollback/deployment</li>
                            <li>Operational, monitoring, alarming</li>
                            <li>N++ and POC Lab environments buildout and maintenance</li>
                            <li>Integration support to Devices and Streaming Services teams</li>
                            <li>Feature functional/regression</li>
                            <li>Failover, negative, destructive, security, VQ, Performance, load, longevity</li>
                            <li>Project Management support for N++ and POC lab builds</li>
                        </ul>
                    </div>
                </div>
            </div>
       
        
        
            <div id="test_env" class="tab-pane fade in active" style="padding-top: 2%">
                <h3>Test Environments</h3>
                <div style="font-size: 85%">
                    <table border=1>
                        <tr>
                            <th>Workstream</th>
                            <th>Platform</th>
                            <th>Component</th>

                        </tr>
                        <tr *ngFor="let d of data | async">
                            <td>
                                {{ d.Workstream }}
                            </td>
                            <td>
                                {{ d.Platform }}
                            </td>
                            <td>
                                {{ d.Component }}
                            </td>

                        </tr>
                    </table>
                </div>
            </div>
        


    </div>
</div>