<div class="col-lg-12" style="padding-right: 2%; padding-top: 2%">
    <div class="jumbotron" style="padding: 2% 2%; border-radius: 10px">
        <!--<h2>Charter</h2>-->
        <!--<ul class="nav nav-tabs" style="font-size: 150%">
            <li class="active"><a data-toggle="tab" href="#charter_home">Charter</a></li>
            <li><a data-toggle="tab" href="#qa_int">QA/Integration Performed</a></li>
            <li><a data-toggle="tab" href="#test_env">Test Environments</a></li>
        </ul>-->

        <div class="tab-content">
            <div id="charter_home" class="tab-pane fade in active">
                <h3>Charter</h3>
                <div class="row" style="font-size:150%">
                <div class="col-md-12" style="font-size: 80%">
                    <p style="font-size: 100%">
                        The <b>VECTOR</b> (Video Engineering Certification Tooling Operations &amp; Reporting) team provides
                        engineering, quality assurance, production support, field qualification of new products in support
                        of core video head-end controllers, video head-end infrastructure, linear edge devices, video encoders,
                        bulk engineering, video quality/monitoring, BAU/lights on and early integration vendor management
                        support (VIOT).
                    </p>
                    <div class="col-md-5">
                        <ul>
                            <li>Arris platform</li>
                            <li>Cisco Platform</li>
                            <li>Linear eQAMs</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>Video processors (encoders/receivers, ad splicers)</li>
                            <li>Video quality and monitoring services</li>
                            <li>Bulk Engineering</li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
            <div id="qa_int" class="tab-pane fade in active" style="padding-top: 2%;padding-bottom: 2%">
                <h3>QA/Integration Performed</h3>
                <div class="row" style="font-size:130%">
                    <div class="col-md-5">

                        <ul>
                            <li>Installation/upgrade/rollback/deployment</li>
                            <li>Operational, monitoring, alarming</li>
                            <li>N++ and POC Lab environments buildout and maintenance</li>
                            <li>Integration support to Devices and Streaming Services teams</li>
                            <li>Feature functional/regression</li>
                            <li>Failover, negative, destructive, security, VQ, Performance, load, longevity</li>
                            <li>Project Management support for N++ and POC lab builds</li>
                        </ul>
                    </div>
                </div>
            </div>
       
        
        
            <!--<div id="test_env" class="tab-pane fade in active" style="padding-top: 2%">
                <h3>Test Environments</h3>
                <div style="font-size: 85%">
                    <table border=1>
                        <tr>
                            <th>Workstream</th>
                            <th>Platform</th>
                            <th>Component</th>

                        </tr>
                        <tr *ngFor="let d of data | async">
                            <td>
                                {{ d.Workstream }}
                            </td>
                            <td>
                                {{ d.Platform }}
                            </td>
                            <td>
                                {{ d.Component }}
                            </td>

                        </tr>
                    </table>
                </div>
            </div>-->
            <table class="table table-bordered testEnvironment" style="font-size: 110%">
                <thead>
                    <tr class="success" style="font-family: monospace">
                        <th>Workstream</th>
                        <th>Arris Platform</th>
                        <th>Cisco Platform</th>
                        <th>Linear eQAMs</th>
                        <th>Video Encoders/Receivers</th>

                        <th>Video quality and monitoring services</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="warning" style="font-family: monospace">ULA</th>
                        <td>
                            <ul>
                                <li>4 DACs</li>
                                <li>7 plants</li>
                                <li>4 CASMR controllers</li>
                                <li>1 CAST</li>
                                <li>1 DLG</li>
                                <li>4 BSTs</li>
                                <li>2 VDPs</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>1 DNCS</li>
                                <li>3 EC's w/5 plants</li>
                                <li>2 ECSs</li>
                                <li>4 DTACS</li>
                                <li>1 BOA</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Apex-1000</li>
                                <li>SEM</li>
                                <li>NSG/NSG Pro</li>
                                <li>GQAM</li>
                                <li>RFGW1</li>
                                <li>Q2Q</li>
                                <li>MDTA</li>
                                <li>Q2IP</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>6 - Harmonic Encoders &amp; MUXs</li>
                                <li>1 - CAP 1000</li>
                                <li>1 – DM 6400</li>
                                <li>5 PEG encoders</li>
                                <li>3 Weather Channel receivers (Jr, HD, xD)</li>
                                <li>4 Off-air channel receivers (Sencore, Ktech, Tandberg, Harmonic)</li>
                                <li>2 Transcoders VIPr, Hydra (VM)(Arris)</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>9  Vendors’ Analyzers and Probes(IP &amp; RF based)</li>
                                <li>23 Video &amp; Audio Analyzers/Probes</li>
                                <li>LVV (Linear Video View)</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="warning" style="font-family: monospace">Production</th>
                        <td><ul><li>1 DAC w/1 Plant</li></ul></td>
                        <td>
                            <ul>
                                <li>1 EC</li>
                                <li>1 DNCS w/2 plants</li>
                                <li>2 DTACS</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>GQAM</li>
                                <li>NSG</li>
                                <li>40G</li>
                            </ul>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        


    </div>
</div>