<div class="col-lg-12" style="padding-right: 2%; padding-top: 2%">
    <div class="jumbotron" style="padding: 2% 2%; border-radius: 10px">
        <div style="margin: auto;width: 30%;border: 3px ridge;padding: 1%;">
           
                <div class="form-group" >
                    <input style="padding-bottom: 1%" type="text" placeholder="MAC" class="form-control" id="mac" required [(ngModel)]="mac" name="mac">
                    <input style="padding-bottom: 1%" type="text" placeholder="IP" class="form-control" id="ip" required [(ngModel)]="ip" name="ip">
                    <input style="padding-bottom: 1%" type="text" placeholder="serial number" class="form-control" id="serial" required [(ngModel)]="serial" name="serial">
                    <input style="padding-bottom: 1%" type="text" placeholder="product" class="form-control" id="product" required [(ngModel)]="product" name="product">
                    <input style="padding-bottom: 1%" type="text" placeholder="version" class="form-control" id="version" required [(ngModel)]="version" name="version">
                    <input style="padding-bottom: 1%" type="text" placeholder="controller" class="form-control" id="controller" required [(ngModel)]="controller" name="controller">
                    <input style="padding-bottom: 1%" type="text" placeholder="model" class="form-control" id="model1" required [(ngModel)]="model" name="model1">
                    <input style="padding-bottom: 1%" type="text" placeholder="desc" class="form-control" id="desc" required [(ngModel)]="desc" name="desc">
                </div>
           
            <div class="form-inline" style="padding-top: 1; padding-left: 30%">
                <button type="submit" class="btn btn-primary" (click)="adddevice()">Add Device</button>
                <label for="name" *ngIf="labelAdded" style="color: #00477F">Device added!</label>
            </div>
        </div>
    </div>
</div>