<div class="col-lg-12" style="padding-right: 2%; padding-top: 2%">
    <div class="jumbotron" style="padding: 2% 2%">
        <ul class="nav nav-tabs" style="font-size: 150%">
            <li class="active"><a data-toggle="tab" href="#goal2016">Goal 2016</a></li>
            <li><a data-toggle="tab" href="#goal2017">Goal 2017</a></li>
        </ul>
        <div class="tab-content">
            <div id="goal2016" class="tab-pane fade in active">
                <ul class="nav nav-tabs" style="font-size: 150%">
                    <li><a data-toggle="tab" href="#nps_goal2016">Goal 1</a></li>
                    <li><a data-toggle="tab" href="#docsis_goal2016">Goal 2</a></li>
                    <li><a data-toggle="tab" href="#mdu_goal2016">Goal 3</a></li>
                    <li><a data-toggle="tab" href="#tos_goal2016">Goal 4</a></li>
                    <li><a data-toggle="tab" href="#innovation_goal2016">Goal 5</a></li>
                    <li><a data-toggle="tab" href="#team_col_goal2016">Goal 6</a></li>
                    <li><a data-toggle="tab" href="#technical_lead_goal2016">Goal 7</a></li>
                </ul>
                <div class="tab-content" style="padding-left: 2%; padding-right: 2%; padding-top: 2%">
                    <div id="nps_goal2016" class="tab-pane fade in active">
                        <h4 style="font-size: 120%">One Thing Activity</h4>
                        <div>
                            <table class="table" border="0">
                                <tr>
                                    <th>Created by</th>
                                    <th>Description</th>
                                </tr>
                                <tr>
                                    <td>Stecher Don</td>
                                    <td><a href="https://sites.cable.comcast.com/p/visepdm/OneThing/Lists/One%20Thing%20Activity/DispForm.aspx?ID=236"
                                            target="_blank">Neighbor would like an X1 Voice remote</a></td>
                                </tr>
                                <tr>
                                    <td>Stecher Don</td>
                                    <td><a href="https://sites.cable.comcast.com/p/visepdm/OneThing/Lists/One%20Thing%20Activity/DispForm.aspx?ID=300"
                                            target="_blank">    Customer unable to get rewire completed</a></td>
                                </tr>
                                <tr>
                                    <td>Rabari Pragnesh</td>
                                    <td><a href="https://sites.cable.comcast.com/p/visepdm/OneThing/Lists/One%20Thing%20Activity/DispForm.aspx?ID=290"
                                            target="_blank">Unburied cables behind the houses - multiple customer</a></td>
                                </tr>
                                <tr>
                                    <td>Lipczynski Michael</td>
                                    <td><a href="https://sites.cable.comcast.com/p/visepdm/OneThing/Lists/One%20Thing%20Activity/DispForm.aspx?ID=219"
                                            target="_blank">Carry The Metropolitan Opera HD Simlcast as a PPV Event.</a></td>
                                </tr>
                            </table>
                        </div>
                        <h3>Team VECTOR- Wallingford Headend visit</h3>

                        <div id="three" style="display: block;">
                            <table class="table" border="0" style="border-color:unset;">
                                <tbody>
                                    <tr>
                                        <td><b>Visit location:</b></td>
                                        <td>Wallingford Headend </td>
                                    </tr>
                                    <tr>
                                        <td><b>Date: </b></td>
                                        <td>05/04/16 </td>
                                    </tr>
                                    <tr>
                                        <td><b>Description: </b></td>
                                        <td>Team VECTOR visited Wallingford Headend on May 4th 2016. Wallingford Headend is the
                                            main Headend to serve Chester area. It was an enriching experience to Team as
                                            Team got to familiarize with different devices and learnt how a real live headend
                                            operates and monitored.</td>
                                    </tr>
                                    <tr>
                                        <td><b>Images</b></td>
                                        <td>
                                            <img id="img1" height="200" width="300" src="/assets/images/G16VnG.jpg" alt="Image1">&nbsp;&nbsp;
                                            <img id="img2" height="300" width="200" src="/assets/images/G16VnG2.jpg" alt="Image2">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                        <h3>Stecher Don- Exton Xfinity Store </h3>

                        <div id="one" style="display: block;">

                            <table class="table" border="0" style="border-color:unset;">
                                <tbody>
                                    <tr>
                                        <td><b>Visit location: </b></td>
                                        <td>Exton Xfinity Store - 106 Bartlett Ave, Exton, PA 19341</td>
                                    </tr>
                                    <tr>
                                        <td><b>Date: </b></td>
                                        <td>11/19/16 </td>
                                    </tr>
                                    <tr>
                                        <td><b>Time: </b></td>
                                        <td>11:00 am </td>
                                    </tr>
                                    <tr>
                                        <td><b>Overall impression: </b></td>
                                        <td>Very clean store, customer representatives were very helpful to customers in the
                                            store. Products presentations were easily accessible and provided a much better
                                            experience than the prior Xfinity store.</td>
                                    </tr>
                                    <tr>
                                        <td><b>Suggestions for better customer experience:</b></td>
                                        <td>
                                            <ol type="1">
                                                <li>
                                                    Update the new location brochure with pictures of store front and text that states they are next to babies R us. Send out
                                                    another mailer to help the customers find the new store.
                                                    <ul>
                                                        <li>Add location of store to X1 STB and Comcast apps</li>
                                                    </ul>
                                                </li>
                                                <li>Community outreach – find ways to get the store involved in local community
                                                    events, to spread the word of customer focus and new products and offerings.</li>
                                                <li>Focus on content as well as X1, and Xfinity Home. In terms of content, to
                                                    be specific, store can advertise (promote) availability of high quality
                                                    viewing experience of upcoming Rio summer Olympics on Comcast network.
                                                </li>
                                                <li>Customer focus was main motto of the store manager and it was visible from
                                                    his actions.</li>
                                                <li>Kiosk labels or customer representative pictures for the kiosks so the customer
                                                    knows which kiosk to visit when it’s their time to speak with a representative.</li>
                                                <li>Mis-representation of data to collect customer footfall in the store due
                                                    to “greeter” at the door. Ways should be find to offset that additional
                                                    figures.</li>
                                                <li>Customer Queue Management software had some issues due to which it keep on
                                                    showing customers in waiting. It may also be induced due to the facts
                                                    that process of check-in was not properly followed by Customer executives.
                                                </li>
                                                <li>Moreover, customer Queue manager software prompt Counter #, but there were
                                                    no counter number in store, which was confusing, if more people are waiting.</li>
                                                <li>New devices launched by Comcast should be displayed and different ones should
                                                    be used in each TV to show variety
                                                </li>
                                                <li>People were still getting guidance for automatic payment kiosk. Can we have
                                                    a video playing on a screen near kiosk?</li>
                                                <li>Add a coffee machine to the lobby.</li>
                                                <li>Price is also a crucial element in making a purchase decision. All cable
                                                    providers are aggressively promoting their package by highlighting their
                                                    package prices. Can the store also have promotion materials (video, banners,
                                                    pamphlet, etc) highlighting price advantage for new and existing customers?</li>
                                            </ol>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                        <h3> Stecher Don- Tier 3 Customer support </h3>


                        <tbody>
                            <tr>
                                <td><b>Visit location: </b></td>
                                <td>Tier 3 customer support team</td>
                            </tr>
                            <tr>
                                <td><b>Date: </b></td>
                                <td>7/20/16 </td>
                            </tr>
                            <tr>
                                <td><b>Time: </b></td>
                                <td>11:00 am </td>
                            </tr>
                            <tr>
                                <td><b>Overall impression: </b></td>
                                <td>The representatives were very knowledgeable about our products and services. They were quick
                                    to resolve customer problems.
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-2"><b>Suggestions for better customer experience: </b></td>
                                <td>
                                    <ol type="1">
                                        <li>
                                            They discussed the many ticketing systems they interact with and the different types of tickets available to them. For example,
                                            when a customer calls there are 5 types of tickets that can be generated.
                                            <ul>
                                                <li>5 basic TTS tickets: SR - Service request, CR – Customer reported, CM – Change
                                                    Management, OE – Outage Event, SI – Service Impacting</li>
                                            </ul>
                                        </li>
                                        <li>Tickets escalated up to their level, may reference a TTS ticket but most of the time
                                            they need to enter more tickets in other systems, or send e-mails to fix the
                                            customers problems.</li>
                                        <li>
                                            They have to utilize many tools to resolve customer problems. Since we only had limited time, I reviewed the following tools:
                                            Einstein 360, Watchtower, Xray.
                                            <ol type="i">
                                                <li>Einstein 360 – is the most widely used tool, with Legacy, X1 and customer
                                                    billing info</li>
                                                <li>Xray – is specific to X1 devices, with debugging information, billing info,
                                                    code versions</li>
                                                <li>WatchTower – Is overlaid over google maps and can show outages, RF problems,
                                                    report connected device</li>
                                            </ol>
                                        </li>
                                    </ol>
                                    <span>Some of the concerns the tier 3 folks shared, was the non connected ticketing systems. The number of tools they use and how rapidly the tools change along with new tools, however they didn’t think their was much they could do about the tooling changes.  After visiting with these team members, I believe it would take a lot more time and in-depth reviewing of their systems, tools and processes to help improve their situation.</span>
                                </td>
                            </tr>
                        </tbody>
                    </div>
                    <div id="docsis_goal2016" class="tab-pane fade">
                        <h3>DOCSIS 3.1</h3>
                    </div>
                    <div id="mdu_goal2016" class="tab-pane fade" style="font-size: 100%; padding-left: 2%">
                        <h3>MDU</h3>
                        <div style="margin:25px 0px 0px 20px;font-size:larger">
                            <h4>
                                <u>MDU Goal</u>:Support development of products to address MDU, Xfinity on Campus, Advanced
                                Advertising</h4>
                            <div class="row">
                                <b>Goal Definition:</b>
                                <ol type="1">
                                    <li>Develop QAM to IP product for MDU/University.</li>
                                    <li>Support discovery and development of Hospitality solutions driven by Business Services
                                        and Video Product.</li>
                                    <li>Support Advanced Advertising insertion in VDE for QAM Video delivery.</li>
                                </ol>
                            </div>
                            <div class="row">
                                <b>Activities:</b>
                                <ol type="1">
                                    <li>Develop QAM to IP product for MDU/University.</li>
                                    <li>Support discovery and development of Hospitality solutions driven by Business Services
                                        and Video Product.</li>
                                    <li>Support Advanced Advertising insertion in VDE for QAM Video delivery.</li>
                                </ol>
                            </div>
                            <div class="row">

                                <b>Measurement and Team Activities:</b>
                                <ol type="1">
                                    <li>Develop QAM to IP product for MDU/University.
                                        <ol type="a">
                                            <li>(Q1) ATX requirements generated for Ucrypt solution for general MDU solutions
                                                and specific MDU Marriot trial –
                                                <mark>Complete</mark>
                                            </li>
                                            <li>(Q1) ATX requirements generated for Ucrypt solution for general MDU solutions
                                                and specific MDU Marriot trial –
                                                <mark>Complete</mark>
                                            </li>
                                            <li>(Q1) MDU Qualification completed with detailed test report and findings. Report
                                                and findings concluded with acceptance for deployed Boston Garden MDU Ucrypt
                                                solution. Marriot trial placed on hold due to IP STB findings, Comcast business
                                                decided to not proceed with Marriot trial due to lack of Vendor integration
                                                support –
                                                <mark>Complete</mark>
                                            </li>
                                            <li>(Q3-Q4) Field install TBD pending Ucrypt solution fit for IP MDU opportunity
                                                –
                                                <mark>In progress</mark>
                                            </li>
                                        </ol>
                                    </li>
                                    <li>Support discovery and development of Hospitality solutions driven by Business Services
                                        and Video Pr
                                        <ol type="a">
                                            <li>(Q3-Q4) Review and evaluate TC600 E - The Terrace TC600E MDU gateway is a multi-channel
                                                digital to analog RF converter with support for MPEG-2 and MPEG-4 AVC / H.264
                                                content from QAM and IP sources. –
                                                <mark>In progress</mark>
                                            </li>
                                        </ol>
                                    </li>
                                    <li>Support Advanced Advertising insertion in VDE for QAM Video delivery.
                                        <ol type="a">
                                            <li>(Q1) Utilize continuous integration and deployment mechanism for VDE deployment
                                                phases, Edge devices integration and MPEG-4 Video devices test support -
                                                <mark>Complete</mark>
                                            </li>
                                            <li>(Q1-Q4) Build environments for VDE full capacity utilization –
                                                <mark>Complete</mark>
                                            </li>
                                            <li>(Q1 )Billing provisioning of all field deployed X1 devices of all Vendor to test
                                                VDE streams as User Experience testing –
                                                <mark>Complete</mark>
                                            </li>
                                            <li>(Q1–Q4) Setup VDE Stream analysis through various MPEG analysis tools to help
                                                troubleshoot -
                                                <mark>Complete</mark>
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div id="tos_goal2016" class="tab-pane fade">
                        <h3>Theft of services</h3>
                    </div>
                    <div id="innovation_goal2016" class="tab-pane fade">
                        <h3>Innovation</h3>
                    </div>
                    <div id="team_col_goal2016" class="tab-pane fade">
                        <h3>Team collabration</h3>
                    </div>
                    <div id="technical_lead_goal2016" class="tab-pane fade">
                        <h3>Technical Leadership</h3>
                    </div>
                </div>
            </div>
            <div id="goal2017" class="tab-pane fade">
                <ul class="nav nav-tabs" style="font-size: 150%">
                    <li><a data-toggle="tab" href="#goal2017_1">Goal 1</a></li>
                    <li><a data-toggle="tab" href="#goal2017_2">Goal 2</a></li>
                    <li><a data-toggle="tab" href="#goal2017_3">Goal 3</a></li>
                    <li><a data-toggle="tab" href="#goal2017_4">Goal 4</a></li>
                    <li><a data-toggle="tab" href="#goal2017_5">Goal 5</a></li>
                    <li><a data-toggle="tab" href="#goal2017_6">Goal 6</a></li>
                </ul>
                <div class="tab-content">
                    <div id="goal2017_1" class="tab-pane fade in active">
                        <h3> Video Reliability, Reliency and Support</h3>
                    </div>
                    <div id="goal2017_2" class="tab-pane fade">
                        <h3>DOCSIS 3.1, MPEG4, Transition to IP</h3>
                    </div>
                    <div id="goal2017_3" class="tab-pane fade">
                        <h3>Improve Security</h3>
                    </div>
                    <div id="goal2017_4" class="tab-pane fade">
                        <h3>Innovation</h3>
                    </div>
                    <div id="goal2017_5" class="tab-pane fade">
                        <h3>Efficiency, motivation, collaboration and Excitement</h3>
                    </div>
                    <div id="goal2017_6" class="tab-pane fade">
                        <h3>Technical Leadership</h3>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>