table {
	font-size: 150%;
    border-collapse: collapse;
    width: fit-content;
	background: "./favicon.ico";
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #ffffff}

th {
   background: linear-gradient(to top, #777777  22%, #999999 119%);
    color: #ffffff;
}