
<div class="col-lg-12" style="padding-right: 2%; padding-top: 2%">
    <div class="jumbotron" style="padding: 2% 2%;border-radius: 10px; text-align: center">
            <b style="font-size:larger;color:#1e6bb8 ">VECTOR SECURITY SCANS</b><br> <br> <br>    
            <div>       
    <ng2-smart-table [settings]="settings" [source]= "source" (custom)="onCustom($event)" style="font-size:15px"></ng2-smart-table>

                               </div>
        </div>      
                      

</div>