<div class="col-lg-12" style="padding-right: 2%; padding-top: 2%">
  <div class="jumbotron" style="padding: 2% 2%; border-radius: 10px">
    <!--<h2>Charter</h2>-->
    <ul class="nav nav-tabs" style="font-size: 150%">
      <li class="active"><a data-toggle="tab" href="#goal2017_1">Goal 1</a></li>
      <li><a data-toggle="tab" href="#goal2017_2">Goal 2</a></li>
      <li><a data-toggle="tab" href="#goal2017_3">Goal 3</a></li>
      <li><a data-toggle="tab" href="#goal2017_4">Goal 4</a></li>
      <li><a data-toggle="tab" href="#goal2017_5">Goal 5</a></li>
      <li><a data-toggle="tab" href="#goal2017_6">Goal 6</a></li>
    </ul>
    <div class="tab-content">
      <div id="goal2017_1" class="tab-pane fade in active">
        <h3> Video Reliability, Reliency and Support</h3>
      </div>
      <div id="goal2017_2" class="tab-pane fade">
        <h3>DOCSIS 3.1, MPEG4, Transition to IP</h3>
      </div>
      <div id="goal2017_3" class="tab-pane fade">
        <h3>Improve Security</h3>
      </div>
      <div id="goal2017_4" class="tab-pane fade">
        <h3>Innovation</h3>
      </div>
      <div id="goal2017_5" class="tab-pane fade">
        <h3>Efficiency, motivation, collaboration and Excitement</h3>
      </div>
      <div id="goal2017_6" class="tab-pane fade">
        <h3>Technical Leadership</h3>
      </div>
    </div>


  </div>
</div>