<div class="col-lg-12" style="padding-right: 2%; padding-top: 2%">
    
   <div class="table-responsive">
       
       <div  class="col-lg-12" style="float: right; padding-bottom: 2%">
               <b style="font-size:larger"> Find team: </b>  
       <select [(ngModel)]="selected" (ngModelChange)="onteamChange($event)" name="team" >
              <option *ngFor="let c of team" [ngValue]="c.value" > {{c.value}} </option> 
       </select>
       </div>
       <div class="row" style="padding-top: 2%">
           <div class="col-lg-3 col-sm-3">
               <div class="profile-box" onclick="window.open('https://www.comcastnow.com/profile/33527', '_blank')">
                   <div class="row">
                       <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=CABLE_ASAVEL00);background-size:100px 100px;background-repeat:no-repeat; "></div>
                   </div>
                   <div class="row">
                       <h4>Alexei Saveliev</h4>
                   </div>
                   <div class="row span">
                       <span>Sr Manager</span>
                   </div>
               </div>
           </div>
           <div id="arristeam">
               <div class="col-lg-3 col-sm-3" *ngIf="arristeam">
                   <div class="profile-box" onclick="window.open('https://www.comcastnow.com/profile/32372','_blank')">
                       <div class="row">
                           <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=Cable_AJurka000);background-size:100px 100px;background-repeat:no-repeat; "></div>
                       </div>
                       <div class="row">
                           <h4>Atis Jurka</h4>
                       </div>
                       <div class="row span">
                           <span>Engineer 6</span>
                       </div>
                   </div>
               </div>
               <div class="col-lg-3 col-sm-3" *ngIf="arristeam">
                   <div class="profile-box" onclick="window.open('https://www.comcastnow.com/profile/90612','_blank')">
                       <div class="row">
                           <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=CABLE_KHOUSE001C);background-size:100px 100px;background-repeat:no-repeat; "></div>
                       </div>
                       <div class="row">
                           <h4>Keith Houser</h4>
                       </div>
                       <div class="row span">
                           <span>Contractor</span>
                       </div>
                   </div>
               </div>
               <div class="col-lg-3 col-sm-3" *ngIf="arristeam">
                   <div class="profile-box" onclick="window.open('https://www.comcastnow.com/profile/197921','_blank')">
                       <div class="row">
                           <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=CABLE_DREIFF001C);background-size:100px 100px;background-repeat:no-repeat; "></div>
                       </div>
                       <div class="row">
                           <h4>Dave Reiff</h4>
                       </div>
                       <div class="row span">
                           <span>Contractor</span>
                       </div>
                   </div>
               </div>
           </div>
           <div id="videoqualityteam">
               <div class="col-lg-3 col-sm-3" *ngIf="videoqualityteam">
                   <div class="profile-box" onclick="window.open('https://www.comcastnow.com/profile/87313','_blank')">
                       <div class="row">
                           <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=CABLE_RKELLY002C);background-size:100px 100px;background-repeat:no-repeat; "></div>
                       </div>
                       <div class="row">
                           <h4>Robert Kelly</h4>
                       </div>
                       <div class="row span">
                           <span>Contractor</span>
                       </div>
                   </div>
               </div>
               <div class="col-lg-3 col-sm-3" *ngIf="videoqualityteam">
                   <div class="profile-box" onclick="window.open('https://www.comcastnow.com/profile/90704', '_blank')">
                       <div class="row">
                           <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=CABLE_RFARRE001C);background-size:100px 100px;background-repeat:no-repeat; "></div>
                       </div>
                       <div class="row">
                           <h4>Robert Farrell</h4>
                       </div>
                       <div class="row span">
                           <span>Contractor</span>
                       </div>
                   </div>
               </div>
           </div>
           <div id="oneteam">
               <div class="col-lg-3 col-sm-3" *ngIf="oneteam">
                   <div class="profile-box" onclick="window.open('https://www.comcastnow.com/profile/30707','_blank')">
                       <div class="row">
                           <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=CABLE_MLIPCZ000);background-size:100px 100px;background-repeat:no-repeat; "></div>
                       </div>
                       <div class="row">
                           <h4>Michael Lipczynski</h4>
                       </div>
                       <div class="row span">
                           <span>Engineer 5</span>
                       </div>
                   </div>
               </div>
               <div class="col-lg-3 col-sm-3" *ngIf="oneteam">
                   <div class="profile-box" onclick="window.open('https://www.comcastnow.com/profile/86919','_blank')">
                       <div class="row">
                           <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=CABLE_NSIROH001C);background-size:100px 100px;background-repeat:no-repeat; "></div>
                       </div>
                       <div class="row">
                           <h4>Nishant Sirohi</h4>
                       </div>
                       <div class="row span">
                           <span>Contractor</span>
                       </div>
                   </div>
               </div>
               <div class="col-lg-3 col-sm-3" *ngIf="oneteam">
                   <div class="profile-box" onclick="window.open('https://www.comcastnow.com/profile/82771','_blank')">
                       <div class="row">
                           <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=CABLE_SKUPPU002C);background-size:100px 100px;background-repeat:no-repeat; "></div>
                       </div>
                       <div class="row">
                           <h4>Sampathkumar Kuppusamy</h4>
                       </div>
                       <div class="row span">
                           <span>Contractor</span>
                       </div>
                   </div>
               </div>
           </div>
           <div id="ciscoteam">
               <div class="col-lg-3 col-sm-3" *ngIf="ciscoteam">
                   <div class="profile-box" onclick="window.open('https://www.comcastnow.com/profile/10708','_blank')">
                       <div class="row">
                           <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=CABLE_GSMITH03);background-size:100px 100px;background-repeat:no-repeat; "></div>
                       </div>
                       <div class="row">
                           <h4>George Smith</h4>
                       </div>
                       <div class="row span">
                           <span>Engineer 5</span>
                       </div>
                   </div>
               </div>
               <div class="col-lg-3 col-sm-3" *ngIf="ciscoteam">
                   <div class="profile-box" onclick="window.open('https://www.comcastnow.com/profile/90232','_blank')">
                       <div class="row">
                           <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=CABLE_DGURUN00C);background-size:100px 100px;background-repeat:no-repeat; "></div>
                       </div>
                       <div class="row">
                           <h4>Deepak Gurung</h4>
                       </div>
                       <div class="row span">
                           <span>Contractor</span>
                       </div>
                   </div>
               </div>
               <div class="col-lg-3 col-sm-3" *ngIf="ciscoteam">
                   <div class="profile-box" onclick="window.open('https://www.comcastnow.com/profile/85872','_blank')">
                       <div class="row">
                           <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=CABLE_WGIRTA002C);background-size:100px 100px;background-repeat:no-repeat; "></div>
                       </div>
                       <div class="row">
                           <h4>William Girtain</h4>
                       </div>
                       <div class="row span">
                           <span>Contractor</span>
                       </div>
                   </div>
               </div>
           </div>
           <div id="hosteam">
               <div class="col-lg-3 col-sm-3" *ngIf="hosteam">
                   <div class="profile-box" onclick="window.open('https://www.comcastnow.com/profile/46923','_blank')">
                       <div class="row">
                           <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=Cable_dstech200);background-size:100px 100px;background-repeat:no-repeat; "></div>
                       </div>
                       <div class="row">
                           <h4>Don Stecher</h4>
                       </div>
                       <div class="row span">
                           <span>Engineer 5</span>
                       </div>
                   </div>
               </div>
               <div class="col-lg-3 col-sm-3" *ngIf="hosteam">
                   <div class="profile-box" onclick="window.open('https://www.comcastnow.com/profile/368873','_blank')">
                       <div class="row">
                           <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=CABLE_VPOLLA001C);background-size:100px 100px;background-repeat:no-repeat; "></div>
                       </div>
                       <div class="row">
                           <h4>Vivek Pola</h4>
                       </div>
                       <div class="row span">
                           <span>Contractor</span>
                       </div>
                   </div>
               </div>
          
           <div class="col-lg-3 col-sm-3" *ngIf="hosteam">
                   <div class="profile-box" onclick="window.open('https://www.comcastnow.com/profile/32293', '_blank')">
                       <div class="row">
                           <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=CABLE_AGOHDE000);background-size:100px 100px;background-repeat:no-repeat; "></div>
                       </div>
                       <div class="row">
                           <h4>Andrew Gohde</h4>
                       </div>
                       <div class="row span">
                           <span>Engineer 3</span>
                       </div>
                   </div>
               </div>
           </div>
           <div id="videoprocteam">
               <div class="col-lg-3 col-sm-3" *ngIf="videoprocteam">
                   <div class="profile-box" onclick="window.open('https://www.comcastnow.com/profile/80122','_blank')">
                       <div class="row">
                           <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=CABLE_PRABAR200);background-size:100px 100px;background-repeat:no-repeat; "></div>
                       </div>
                       <div class="row">
                           <h4>Pragnesh Rabari</h4>
                       </div>
                       <div class="row span">
                           <span>Engineer 4</span>
                       </div>
                   </div>
               </div>
               <div class="col-lg-3 col-sm-3" *ngIf="videoprocteam">
                   <div class="profile-box" onclick="window.open('https://www.comcastnow.com/profile/88634','_blank')">
                       <div class="row">
                           <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=CABLE_AALI002C);background-size:100px 100px;background-repeat:no-repeat; "></div>
                       </div>
                       <div class="row">
                           <h4>Arshad Ali</h4>
                       </div>
                       <div class="row span">
                           <span>Contractor</span>
                       </div>
                   </div>
               </div>
           <div class="col-lg-3 col-sm-3" *ngIf="videoprocteam">
                   <div class="profile-box" onclick="window.open('https://www.comcastnow.com/profile/501190','_blank')">
                       <div class="row">
                           <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=CABLE_TKILGA396);background-size:100px 100px;background-repeat:no-repeat; "></div>
                       </div>
                       <div class="row">
                           <h4>Thomas Kilgallon</h4>
                       </div>
                       <div class="row span">
                           <span>Contractor</span>
                       </div>
                   </div>
               </div>
          
           <div id="offshoreteam">
               <div class="col-lg-3 col-sm-3" *ngIf="offshoreteam">
                   <div class="profile-box" onclick="window.open('https://www.comcastnow.com/profile/83074','_blank')">
                       <div class="row">
                           <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=CABLE_RBOSE001C);background-size:100px 100px;background-repeat:no-repeat; "></div>
                       </div>
                       <div class="row">
                           <h4>Rajapandian Bose</h4>
                       </div>
                       <div class="row span">
                           <span>Contractor</span>
                       </div>
                   </div>
               </div>

               <div class="col-lg-3 col-sm-3" *ngIf="offshoreteam">
                   <div class="profile-box" onclick="window.open('https://www.comcastnow.com/profile/372165','_blank')">
                       <div class="row">
                           <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=CABLE_RPRASA005C);background-size:100px 100px;background-repeat:no-repeat; "></div>
                       </div>
                       <div class="row">
                           <h4>Rahul Prasad</h4>
                       </div>
                       <div class="row span">
                           <span>Contractor</span>
                       </div>
                   </div>
               </div>

               <div class="col-lg-3 col-sm-3" *ngIf="offshoreteam">
                   <div class="profile-box" onclick="window.open('https://www.comcastnow.com/profile/86508', '_blank')">
                       <div class="row">
                           <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=CABLE_KMALI001C);background-size:100px 100px;background-repeat:no-repeat; "></div>
                       </div>
                       <div class="row">
                           <h4>Kalpana Mali</h4>
                       </div>
                       <div class="row span">
                           <span>Contractor</span>
                       </div>
                   </div>
               </div>

               <div class="col-lg-3 col-sm-3" *ngIf="offshoreteam">
                   <div class="profile-box" onclick="window.open('https://www.comcastnow.com/profile/105751', '_blank')">
                       <div class="row">
                           <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=CABLE_ACHAKR005C);background-size:100px 100px;background-repeat:no-repeat; "></div>
                       </div>
                       <div class="row">
                           <h4>Yatheesh Konduru</h4>
                       </div>
                       <div class="row span">
                           <span>Contractor</span>
                       </div>
                   </div>
               </div>
               <div class="col-lg-3 col-sm-3" *ngIf="offshoreteam">
                   <div class="profile-box" onclick="window.open('https://www.comcastnow.com/profile/349478', '_blank')">
                       <div class="row">
                           <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=CABLE_DSUNDA003C);background-size:100px 100px;background-repeat:no-repeat; "></div>
                       </div>
                       <div class="row">
                           <h4>Durgalakshmi Sundararaman</h4>
                       </div>
                       <div class="row span">
                           <span>Contractor</span>
                       </div>
                   </div>
               </div>                  
               <div class="col-lg-3 col-sm-3" *ngIf="videoqualityteam">
                   <div class="profile-box" onclick="window.open('https://www.comcastnow.com/profile/93980', '_blank')">
                       <div class="row">
                           <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=CABLE_PANAND003C);background-size:100px 100px;background-repeat:no-repeat; "></div>
                       </div>
                       <div class="row">
                           <h4>Pawan Anand</h4>
                       </div>
                       <div class="row span">
                           <span>Contractor</span>
                       </div>
                   </div>
               </div>
               <div class="col-lg-3 col-sm-3" *ngIf="videoqualityteam">
                   <div class="profile-box" onclick="window.open('https://www.comcastnow.com/profile/466771', '_blank')">
                       <div class="row">
                           <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=CABLE_KMCQUO200);background-size:100px 100px;background-repeat:no-repeat; "></div>
                       </div>
                       <div class="row">
                           <h4>Katherine McQuoid</h4>
                       </div>
                       <div class="row span">
                           <span>Contractor</span>
                       </div>
                   </div>
               </div>
               <div class="col-lg-3 col-sm-3" *ngIf="videoqualityteam">
                   <div class="profile-box" onclick="window.open('https://www.comcastnow.com/profile/466754', '_blank')">
                       <div class="row">
                           <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=CABLE_SREDDY202);background-size:100px 100px;background-repeat:no-repeat; "></div>
                       </div>
                       <div class="row">
                           <h4>Sneha Reddy</h4>
                       </div>
                       <div class="row span">
                           <span>Contractor</span>
                       </div>
                   </div>
               </div>             
               <div class="col-lg-3 col-sm-3" *ngIf="arristeam">
                   <div class="profile-box" onclick="window.open('https://www.comcastnow.com/profile/465885', '_blank')">
                       <div class="row">
                           <div class="circluar-image col-md-3 col-md-offset-3" style="background-image: url(https://www.comcastnow.com/profiletools/ProfilePicture.ashx?ID=CABLE_HDESAI200);background-size:100px 100px;background-repeat:no-repeat; "></div>
                       </div>
                       <div class="row">
                           <h4>Hiren Desai</h4>
                       </div>
                       <div class="row span">
                           <span>Contractor</span>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
</div>