<section class="demo-contents">
    
    <div class="col-lg-12" style="padding-right: 2%;padding-top: 2%;margin: auto;font-family: monospace">
        <div class="jumbotron" style="padding: 2% 2%; border-radius: 10px">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-ticket fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ (data | async)?.length}}</div>
                                    <div><b style="font-size:larger; padding: 2% 2%">Jira Tickets</b></div>
                                </div>
                            </div>
                        </div>
                        <a>
                            <div class="panel-footer" routerLink="/projects" routerLinkActive="active">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" >{{ (schedulerdata | async)?.length}}</div>
                                    <div><b style="font-size:larger; padding: 2% 2%">Scheduler</b></div>
                                </div>
                            </div>
                        </div>
                        <a>
                            <div class="panel-footer" routerLink="/security-check" routerLinkActive="active">

                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-link fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">N/A</div>
                                    <div><b style="font-size:larger; padding: 2% 2%">VQ Reports</b></div>
                                </div>
                            </div>
                        </div>
                        <a>
                            <div class="panel-footer" routerLink="/reports" routerLinkActive="active">

                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-cubes fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">8</div>
                                    <div><b style="font-size:larger; padding: 2% 2%">Environments</b></div>
                                </div>
                            </div>
                        </div>
                        <a>
                            <div class="panel-footer" routerLink="/environments" routerLinkActive="active">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="float: left; width: 80%">
    <div class="col-lg-12" style="padding-right: 2%">
        <div class="jumbotron" style="padding: 2% 2%; border-radius: 10px; font-family: Georgia, 'Times New Roman', Times, serif">
            <!--<h1>The Vector</h1>-->
            <p style="font-size: 120%">" The <b>VECTOR</b> (Video Engineering Certification Tooling Operations & Reporting) team provides engineering, quality
                assurance, production support, field qualification of new products in support of core video head-end controllers,
                video head-end infrastructure, linear edge devices, video encoders, Bulk engineering, video quality/monitoring,
                BAU/lights on and early integration vendor management support (VIOT)."</p>
            <!--<p><a class="btn btn-primary btn-lg" style="font-size: 23px; color: #ffffff" role="button">Learn more</a>
                        </p>-->
        </div>
    </div>


    <div class="col-lg-12" style=" padding-right: 2%">
        <div class="jumbotron" id="home-section-tickets" style="padding: 2% 2%; border-radius: 10px">
            <b style="font-size:larger">Team is currently working on following:</b><br>
            <ul style="font-size:120%;padding-top: 1%">
                <li *ngFor="let d of data | async">
                    <a target="tab-pane" href="https://tkts.sys.comcast.net/browse/{{ d.key }}">
                    {{ d.key }} {{ d.summary }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    </div>
    <div style="float: left;width: 20%">


    <div class="col-lg-12" style=" padding-right: 2%">

        <div class="jumbotron" id="home-section-links" style="padding: 2% 2%; border-radius: 10px">
            <b style="font-size:larger; padding: 2% 2%">Links</b>
            <ul style="font-size:larger">

                <li><a href="https://sites.cable.comcast.com/p/visepdm/OneThing/SitePages/Home.aspx" target="_blank">One Thing</a></li>
                <li><a href="https://safeportal.cable.comcast.com/" target="_blank">SafePortal</a></li>
                <li><a href="https://www.reflektive.com/app#cf/wall" target="_blank">Reflektive</a></li>
                <li><a href="https://www.comcastnow.com/" target="_blank">Comcastnow</a></li>
                <li><a href="http://budget.cable.comcast.com" target="_blank">SalesForce</a></li>
                <li><a href="http://videoops.teamcomcast.com/sites/videoops/Home.aspx" target="_blank">Video Ops Portal</a></li>
                <li><a href="https://wiki.io.comcast.net/dashboard.action" target="_blank">Wiki Dashboard</a></li>
                <li><a href="https://www.comcastnow.com/article/%7BE2B856A0-A25E-4122-BE0B-B2A205044DE4%7D" target="_blank">2018 Holidays</a></li>

            </ul>
        </div>
    </div>


    <div class="col-lg-12" style=" padding-right: 2%">
        <div class="jumbotron" style="padding: 2% 2%; border-radius: 10px">
            <b style="font-size:larger;padding: 2% 2%">News</b>
            <ul id="home-section-news" style="font-size:larger">
                <li><a  routerLink="/goals" routerLinkActive="active">Wallingford Headend visit</a></li>
                <li><a  routerLink="/goals" routerLinkActive="active">Exton Xfinity store visit</a></li>
                <li><a  routerLink="/goals" routerLinkActive="active">Tier 3 Customer support</a></li>
            </ul>
        </div>
    </div>
    </div>

</section>