table {
	font-size: 150%;
    border-collapse: collapse;
    width: fit-content;
	background: "./favicon.ico";
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #ffffff}

th {
    background: linear-gradient(to top, #777777  22%, #999999 119%);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
body {
                width: 1060px;
                margin: 50px auto;
            }

            path {
                stroke: #fff;
            }

            path:hover {
                opacity: 0.9;
            }

            rect:hover {
                fill: blue;
            }

            .axis {
                font: 10px sans-serif;
            }

            .legend tr {
                border-bottom: 1px solid grey;
            }

            .legend tr:first-child {
                border-top: 1px solid grey;
            }

            .axis path,
            .axis line {
                fill: none;
                stroke: #000;
                
            }

            .x.axis path {
                display: none;
            }

            .legend {
                margin-bottom: 76px;
                display: inline-block;
                border-collapse: collapse;
                border-spacing: 0px;
            }

            .legend td {
                padding: 4px 5px;
                vertical-align: bottom;
            }

            .legendFreq,
            .legendPerc {
               
                width: 50px;
            }
              select {
  /* font-family: Cursive; */
  font-size: 120%;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.mydp, .mydp .headertodaybtn {
    width: 150px !important;
}